
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("~/Views/LayoutPartial/_HeaderPartial.cshtml")

    
    <body class="sb-nav-fixed">
    @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")
       
        <div id="layoutSidenav">
        @await Html.PartialAsync("~/Views/LayoutPartial/_SidenavPartial.cshtml")

        @RenderBody()

        </div>
            
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/assets/demo/chart-area-demo.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js"></script>
    </body>
</html>

