@model AdminListViewModel
@{
    Layout = null;
}
@{
    string SuccesMessage = ViewBag.Message;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link href="~/css/moviecreate.css" rel="stylesheet" />
    
</head>
<body>
    @if (!string.IsNullOrEmpty(SuccesMessage))
    {
        <div class="alert alert-danger" role="alert">
            @SuccesMessage
        </div>
    }
    <div class="Title" style="text-align: center; font-size: 3rem; font-weight: bold;">Film Ekle</div>
    <hr>
    <form action="/AdminPanel/MovieCreate" method="post" class="form-center" >
  <div class="form-group">
    <label for="filmAdi">Film Adı</label>
            <input type="text" name="MovieTitle" class="form-control" id="filmAdi" aria-describedby="filmAdiHelp" placeholder="Film Adını Girin">
    <small id="filmAdiHelp" class="form-text text-muted">Lütfen film adını doğru yazın.</small>
  </div>
  <div class="form-group">
    <label for="Yönetmen">Yönetmen</label><br>
    <select name="DirectorId" id="Yönetmen">
        <option value="GelenId">..</option>
        @foreach (var item in Model.Directories)
         {
           <option value="@item.DirectorId">@item.DirectorName</option>
         }
    </select>
  </div>
  <div class="form-group">
    <label for="filmYili">Film Yılı</label>
    <input type="text" name="MovieYear" class="form-control" id="filmYili" placeholder="Film Yılını Girin">
  </div>
  <div class="form-group">
    <label for="filmSüresi">Filmin Süresi</label>
    <input type="text" name="MovieTime" class="form-control" id="filmSüresi" placeholder="Filmin Süresini Giriniz">
  </div>
  <div class="form-group">
    <label for="filmKonusu">Filmin Konusu</label>
    <textarea name="MovieDescription" id="filmKonusu" cols="60" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="filmResmi">Filmin Resmi</label>
    <input type="file" name="Movieİmage" class="form-control" id="filmTurleri">
    <label for="filmVideo">Filmin Video</label>
    <input type="file" name="VideoUrl" class="form-control" id="filmVideo" >
  </div>
  <button type="submit" class="btn btn-primary">Film Ekle</button>
</form>

</body>
</html>
